<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @session.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @session.end_time %>
</p>

<p>
  <b>Event:</b>
  <%= @session.event_id %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
