<h1>Listing registrations</h1>

<table>
  <tr>
    <th>User ID</th>
    <th>User</th>
    <th>Event ID</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.user_id %></td>
    <td><%= registration.user.first_name %> <%= registration.user.last_name %></td>
    <td><%= registration.event_id %></td>
    <td><%= registration.event.course.name %> <%= registration.event.sessions.first.start_time.to_formatted_s(:short) %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration', new_registration_path %>
