<div id="goodies">
  <div class="wrapper">
    <nav>
      <ul>
            <li class="keyboard"><a href="#">Keyboard Shortcuts</a></li>
            <li class="characters"><a href="#">HTML Special Characters</a></li>
            <li class="type"><a href="#">Typography Rules</a></li>
            <li class="htmlGuide"><a href="#">Quick Guide to HTML</a></li>
            <li class="enews"><a href="#">Sign Up for Noble eNews</a></li>
        </ul>
        <div class="social">
          <a href="#" target="_blank"><%= image_tag "goodies-facebook.png" %><p>Like Us on Facebook for a Chance to Win a Free Workbook!</p></a>
          <a href="#" target="_blank"><%= image_tag "goodies-twitter.png" %><p>Follow Us on Twitter!</p></a>
        </div>
    </nav>
    <div id="freeClassSignUp">
        <div id="freeClass">
          <h1>Win a Free Class!</h1>
          <p>Join our email list for a chance to win</p>
          <%= form_tag users_path do %>
              <input type="hidden" name="subject" value="New E-News Subscriber">
              <input type="hidden" name="emailOptIn" value="yes">
              <input type="hidden" name="redirect" value="http://www.nobledesktop.com/">
              <input type="hidden" name="RegistrationType" value="FreeClass">
              <input name="entrypage" type="hidden" value="">
              <input name="entrydate" type="hidden" value="">
              <input name="numberofvisits" type="hidden" value="">
              <input name="referrerpage" type="hidden" value="">
              <%= text_field_tag(:first_name, "First Name") %>
              <%= text_field_tag(:last_name, "Last Name") %>
              <%= text_field_tag(:email, "Email Address") %>
              <button type="submit" class="lozenge fl">Enter To Win<%= image_tag "lozenge-arrow.png" %></button>
          <% end %>
        </div>
    </div>
  </div>
</div>