<header class="clearfix" id="pageHeader">
    <div class="wrapper">
        <%= link_to image_tag("nav-noble-logo.png", alt: "Noble Desktop - Exceptional computer graphics training"), root_path  %>
        <a href="#" id="goodiesLink" class="ir">Goodies</a>
        <div id="nav">
          <nav id="mainNav" role="navigation" class="clearfix">
              <ul>
                <li class="classes">
                  <a href="#">Classes</a>
                    <div id="classesMenu" class="dropDownMenu">
                        <div class="menuArrow"><%= image_tag "dropDownMenu-arrow.png" %></div>
                      <div class="menuCol col1">
                            <ul class="dw">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Dreamweaver & Web Design</a></li>
                                <li><a href="#">Level 1: Building Websites</a></li>
                                <li><a href="#">Level 2: CSS Intensive</a></li>
                                <li><a href="#">Level 3: JavaScript & jQuery</a></li>
                                <li><a href="#">HTML5 & CSS3</a></li>
                                <li><a href="#">Mobile & Responsive Web Design</a></li>
                                <li><a href="#">PHP & MySQL</a></li>
                                <li><a href="#">HTML Email</a></li>
                                <li><a href="#">Real Fonts on the Web</a></li>
                            </ul>
                            <ul class="fw">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Fireworks</a></li>
                            </ul>
                            <ul class="fl">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Flash</a></li>
                                <li><a href="#">Beginner to Intermediate</a></li>
                                <li><a href="#">ActionScript 2 Fundamentals</a></li>
                            </ul>
                            <ul class="wordpress">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>WordPress</a></li>
                                <li><a href="#">WordPress.com: Blogging Basics</a></li>
                                <li><a href="#">WordPress.org: Custom Themes</a></li>
                            </ul>
                            <ul class="finalcut">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Final Cut Pro</a></li>
                            </ul>
                            <ul class="keynote">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Keynote</a></li>
                            </ul>
                        </div>
                      <div class="menuCol col2">
                            <ul class="id">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>InDesign</a></li>
                                <li><a href="#">Beginner to Intermediate</a></li>
                                <li><a href="#">eBooks</a></li>
                                <li><a href="#">Digital Publishing Suite (DPS)</a></li>
                            </ul>
                            <ul class="ps">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Photoshop</a></li>
                                <li><a href="#">Beginner to Intermediate</a></li>
                                <li><a href="#">Advanced Retouching</a></li>
                                <li><a href="#">Color Management</a></li>
                            </ul>
                            <ul class="pse">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Photoshop Elements</a></li>
                            </ul>
                            <ul class="ai">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Illustrator</a></li>
                            </ul>
                            <ul class="lr">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Lightroom</a></li>
                            </ul>
                            <ul class="ae">
                                <li class="title"><a href="#"><span class="appIcon ae"></span>After Effects</a></li>
                            </ul>
                            <ul class="graphicdesign">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Graphic Design</a></li>
                            </ul>
                            <ul class="typography">
                                <li class="title"><a href="#"><span class="appIcon ir"></span>Typography</a></li>
                            </ul>
                        </div>
                      <div class="menuCol col3">
                            <ul class="certificates">
                                <li class="title">Certificates</li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Digital Publishing</a></li>
                                <li><a href="#">Print Design</a></li>
                                <li><a href="#">Photo Retouching</a></li>
                            </ul>
                            <ul class="topics">
                                <li class="title">Topics</li>
                                <li><a href="#">Intro to Web Design</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">Media Queries</a></li>
                                <li><a href="#">jQuery & JavaScript</a></li>
                                <li><a href="#">eBooks: ePub, Mobi & KF8</a></li>
                                <li><a href="#">eMagazines & Tablet Publishing</a></li>
                            </ul>
                            <ul class="tours">
                                <li class="title">Tours</li>
                                <li><a href="#">Digital Photography in a Day</a></li>
                                <li><a href="#">NYC Street Photography Tour</a></li>
                            </ul>
                            <ul class="custom">
                                <li class="title"><a href="#">Custom Training</a></li>
                                <li><a href="#">Corporate & Onsite Training</a></li>
                            </ul>
                            <div class="close"><a href="#"><%= image_tag "navMenu-close.gif", {alt: "close button"} %></a></div>
                        </div>
                    </div>
                </li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Free Seminars</a></li>
                <li><a href="#">Books</a></li>
              </ul>
            </nav>
        
        
                <nav id="subNav" class="clearfix">
                  <ul>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Certificate Programs</a></li>
                    <li class="about"><a href="#" class="aboutNavItem">About Noble</a>
                      <div id="aboutNobleMenu" class="dropDownMenu">
                          <div class="menuArrow"><%= image_tag "dropDownMenu-arrow.png" %></div>
                            <ul>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Our History & Facilities</a></li>
                        <li><a href="#">Our Instructors</a></li>
                        <li><a href="#">Our Clients</a></li>
                        <li><a href="#">Instructors Wanted</a></li>
                            </ul>
                            <p class="phone">(212) 226-4149</p>
                            <p class="hours">Open 9am–6pm Mon–Fri</p>
                            <p>594 Broadway, Suite 1202<br>
                            New York, NY 10012</p>
                            <p class="directions"><a href="#">Directions</a></p>
                            <p class="hotels"><a href="#">Hotel Info</a></p>
                            <div class="close"><a href="#"><%= image_tag "navMenu-close.gif" %></a></div>
                        </div>
                    </li>
                  </ul>
                </nav>
      </div>
    </div>
</header>