<%= form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.select :course_id, Course.all.collect{|c| [c.name, c.id]} %>
  </div>

  <%= field_set_tag 'Categories' do %>
    <%= hidden_field_tag "event[category_ids][]" %>
    <% Category.all.each do |category| %>
      <div class="field">
        <%= check_box_tag "event[category_ids][]", 
                           category.id, 
                           @event.categories.include?(category),
                           id: "event_category_id_#{category.id}"%>
        <%= label_tag "event_category_id_#{category.id}", category.name %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
