<div id="mainContent" class="grid clearfix">
    <header class="pgTitle alignLeft">
    <div class="wrapper">
          <hgroup>
            <h1><%= image_tag "ribbons/fl-left.png", {class: "ribbonLeft"} %>Free Seminars <%= image_tag "ribbons/fl-right.png", {class: "ribbonRight"} %></h1>
          </hgroup>
    </div>
    </header>
    <div class="wrapper clearfix">
      <%= form_tag seminar_signup_path, id: 'seminarRegistration' do %>
        <%#= hidden_field_tag "user[event_ids][]" %>
        <a id="upcoming-seminars"></a>
        <h2 class="seminarListHead listHead">Register for Upcoming Seminars <a href="#seminar-archive" id="seminarArchiveLink">Click Here for Previously Recorded Seminars</a></h2>
        <section id="options" class="clearfix">
          <ul class="filters option-set clearfix" data-option-key="filter">
            <li><a href="javascript:;" data-option-value="*" class="selected">All</a></li>
            <li><a href="javascript:;" data-option-value=".nyc">NYC</a></li>
            <li><a href="javascript:;" data-option-value=".online">Online</a></li>
          </ul>
        </section>
        <article class="seminarListCol clearfix">
         <section class="seminarList clearfix">
          <!-- list seminars -->
          <!-- loop through output -->
          <% @event_days.keys.sort.each do |day| %> 
              <div class="seminar nyc">
              <div class="row" id="seminarRow_#idx#">
                <div class="title"><%= link_to @event_days[day].first.course_name, '#' %></a></div>
                <div class="location"><span class="nyc ir">#seminarLocationText#</span></div>
                <div class="date">
                    <%= day.to_s.to_date.strftime("%b %e") %>
                    <span class="day"><%= day.to_s.to_date.strftime("%a") %></span>
                </div>
                <div class="time">
                  <% for event in @event_days[day] %>
                    <label for="event_<%= event.id %>">
                        <%= check_box_tag "user[event_ids][]", event.id, false, id: "event_#{event.id}" %>
                        <%= event.start_time.strftime("%l").strip %>—<%= event.end_time.strftime("%l").strip %> <span class="amPM"><%= event.end_time.strftime("%p") %></span>
                    </label>
                  <% end %>
                </div>
              </div>
             </div>
            <% end %>
          </section><!-- end of .seminarList -->
        </article><!-- end of article.seminarListCol -->
        <div class="seminarRegisterCol">
          <div class="scroller">
            <section class="framedBoxWrapper">
            <div class="registerInfo framedBox">
              <%= fields_for :user do |fu| %>
                <%#= text_field_tag(:first_name, "First Name") %>
                <%= fu.text_field :first_name, value: "First Name" %>
                <%= fu.text_field :last_name, value: "Last Name" %>
                <%= fu.text_field :email, value: "Email" %>
              <% end %>
              <button type="submit" class="lozenge">Register Me!<cfinclude template="/inc/lozenge-arrow.cfm"></button>
            </div>
            </section>
            <%= image_tag "seminar-registration-photo.jpg", {class: "registerPhoto"} %>
            <cfinclude template="/inc/share-group.cfm">
            <cfinclude template="/inc/seminar-noble-address.cfm">
          </div>
        </div><!-- end of .seminarRegisterCol -->
      <% end %>
    </div>
</div>