<h1>Listing events</h1>

<table>
  <tr>
    <th>Event ID</th>
    <th>Course ID</th>
    <th>Course</th>
    <th>Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.course_id %></td>
    <td><%= link_to event.course.name, event_sessions_path(event) %></td>
    <td>
      <% #what is the best way to refactor this?!?! i know it should be.... %>
      <% event.sessions.all.each do |session| %>
        <p>Start: <%= session.start_time.to_formatted_s(:short) %><br>
          End: <%= session.end_time.to_formatted_s(:short) %></p>
      <% end %>
    </td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
