<div id="mainContent" class="grid clearfix">
    <header class="pgTitle alignLeft">
    <div class="wrapper">
          <hgroup>
            <h1><%= image_tag "ribbons/fl-left.png", {class: "ribbonLeft"} %>Free Seminars <%= image_tag "ribbons/fl-right.png", {class: "ribbonRight"} %></h1>
          </hgroup>
    </div>
    </header>
    <div class="wrapper clearfix">
      <%= form_tag do %>
        <input type="hidden" name="fuseaction" value="checkSeminarInfo">
        <input type="hidden" name="subject" value="Seminar Sign Up">
        <input type="hidden" name="emailOptIn" value="yes">
        <input type="hidden" name="redirect" value="http://www.nobledesktop.com/">
        <input type="hidden" name="RegistrationType" value="Seminar">
        <input name="entrypage" type="hidden" value="">
        <input name="entrydate" type="hidden" value="">
        <input name="numberofvisits" type="hidden" value="">
        <input name="referrerpage" type="hidden" value="">
        <a id="upcoming-seminars"></a>
        <h2 class="seminarListHead listHead">Register for Upcoming Seminars <a href="#seminar-archive" id="seminarArchiveLink">Click Here for Previously Recorded Seminars</a></h2>
        <section id="options" class="clearfix">
          <ul class="filters option-set clearfix" data-option-key="filter">
            <li><a href="javascript:;" data-option-value="*" class="selected">All</a></li>
            <li><a href="javascript:;" data-option-value=".nyc">NYC</a></li>
            <li><a href="javascript:;" data-option-value=".online">Online</a></li>
          </ul>
        </section>
        <article class="seminarListCol clearfix">
         <section class="seminarList clearfix">
          <!-- list seminars -->
          <!-- loop through output -->
          <% @events.each do |event| %>
            <div class="seminar nyc">
              <div class="row" id="seminarRow_#idx#">
                <div class="title"><a href="/seminars/#seminarsArr[idx].PageLink#"><%= event.course.name %></a></div>
                <div class="location"><span class="nyc ir">#seminarLocationText#</span></div>
                <div class="date">
                  <% if not event.sessions.empty? %>
                    <%= event.sessions.first.start_time.strftime("%b %e") %> 
                    <span class="day"><%= event.sessions.first.start_time.strftime("%a") %></span>
                  <% end %>
                </div>
                <div class="time">



                <% #what is the best way to refactor this?!?! i know it should be refactored.... %>
                <% event.sessions.each do |session| %>
                  <label for="event_<%= event.id %>">
                    <cfif not seminarsArr[idx].SeminarTimes[idxTimes].isFull or IsUserInRole("admin")>
                      <input type="checkbox" name="seminar" id="event_<%= event.id %>" value="<%= event.id %>">
                      <%= session.start_time.strftime("%l").strip %>—<%= session.end_time.strftime("%l").strip %> <span class="amPM"><%= session.end_time.strftime("%p") %></span>
                  </label>
                <% end %>



                </div>
              </div>
             </div>
             <% end %>
          </section><!-- end of .seminarList -->
        </article><!-- end of article.seminarListCol -->
        <div class="seminarRegisterCol">
          <div class="scroller">
            <section class="framedBoxWrapper">
            <div class="registerInfo framedBox">
              <input type="hidden" name="seminarRequired" id="seminarRequired" value="">
              <%= text_field_tag(:first_name, "First Name") %>
              <%= text_field_tag(:last_name, "Last Name") %>
              <%= text_field_tag(:email, "Email") %>
              <button type="submit" class="lozenge">Register Me!<cfinclude template="/inc/lozenge-arrow.cfm"></button>
            </div>
            </section>
            <%= image_tag "seminar-registration-photo.jpg", {class: "registerPhoto"} %>
            <cfinclude template="/inc/share-group.cfm">
            <cfinclude template="/inc/seminar-noble-address.cfm">
          </div>
        </div><!-- end of .seminarRegisterCol -->
      <% end %>
    </div>
</div>















<h1>Listing events</h1>

<table>
  <tr>
    <th>Event ID</th>
    <th>Course ID</th>
    <th>Course</th>
    <th>Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= event.course_id %></td>
    <td><%= event.course.name %></td>
    <td>
      <% #what is the best way to refactor this?!?! i know it should be.... %>
      <% event.sessions.all.each do |session| %>
        <p>Start: <%= session.start_time.to_formatted_s(:short) %><br>
          End: <%= session.end_time.to_formatted_s(:short) %></p>
      <% end %>
    </td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
