<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @event.course_id %>
</p>

<p>
  <b>Session:</b>
  <%= @event.session_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
