

<%# 
@seminar_times.inspect

%>


<div id="mainContent" class="grid clearfix">
    <header class="pgTitle alignLeft">
    <div class="wrapper">
          <hgroup>
            <h1><%= image_tag "ribbons/fl-left.png", {class: "ribbonLeft"} %>Free Seminars <%= image_tag "ribbons/fl-right.png", {class: "ribbonRight"} %></h1>
          </hgroup>
    </div>
    </header>
    <div class="wrapper clearfix">
      <form method="post" action="" id="seminarRegistration" class="clearfix">
        <input type="hidden" name="fuseaction" value="checkSeminarInfo">
        <input type="hidden" name="subject" value="Seminar Sign Up">
        <input type="hidden" name="emailOptIn" value="yes">
        <input type="hidden" name="redirect" value="http://www.nobledesktop.com/">
        <input type="hidden" name="RegistrationType" value="Seminar">
        <input name="entrypage" type="hidden" value="">
        <input name="entrydate" type="hidden" value="">
        <input name="numberofvisits" type="hidden" value="">
        <input name="referrerpage" type="hidden" value="">
        <a id="upcoming-seminars"></a>
        <h2 class="seminarListHead listHead">Register for Upcoming Seminars <a href="#seminar-archive" id="seminarArchiveLink">Click Here for Previously Recorded Seminars</a></h2>
        <section id="options" class="clearfix">
          <ul class="filters option-set clearfix" data-option-key="filter">
            <li><a href="javascript:;" data-option-value="*" class="selected">All</a></li>
            <li><a href="javascript:;" data-option-value=".nyc">NYC</a></li>
            <li><a href="javascript:;" data-option-value=".online">Online</a></li>
          </ul>
        </section>
        <article class="seminarListCol clearfix">
         <section class="seminarList clearfix">
          <!-- list seminars -->
          <!-- loop through output -->
          <% @seminar_times.each do |seminar_time| %>
            <div class="seminar nyc">
              <div class="row" id="seminarRow_#idx#">
                <div class="title"><a href="/seminars/#seminarsArr[idx].PageLink#"><%= seminar_time.seminar.name %></a></div>
                <div class="location"><span class="nyc ir">#seminarLocationText#</span></div>
                <div class="date"><%= seminar_time.start_date.strftime("%b %e") %> <span class="day"><%= seminar_time.start_date.strftime("%a") %></span></div>
                <div class="time">
                <%# ideally we would loop through each seminar time for this date and class here  %>
                  <label for="seminar_time_<%= seminar_time.id %>">
                    <cfif not seminarsArr[idx].SeminarTimes[idxTimes].isFull or IsUserInRole("admin")>
                      <input type="checkbox" name="seminar" id="seminar_time_<%= seminar_time.id %>" value="<%= seminar_time.id %>">
                      <%= seminar_time.start_date.strftime("%l").strip %>—<%= seminar_time.end_date.strftime("%l").strip %> <span class="amPM"><%= seminar_time.end_date.strftime("%p") %></span>
                  </label>
                </div>
              </div>
             </div>
             <% end %>
          </section><!-- end of .seminarList -->
        </article><!-- end of article.seminarListCol -->
        <div class="seminarRegisterCol">
          <div class="scroller">
            <section class="framedBoxWrapper">
            <div class="registerInfo framedBox">
              <input type="hidden" name="seminarRequired" id="seminarRequired" value="">
              <input type="text" name="firstName" id="firstName" value="First Name">
              <input type="text" name="lastName" id="lastName" value="Last Name">
              <input type="text" name="email" id="email" value="Email">
              <button type="submit" class="lozenge">Register Me!<cfinclude template="/inc/lozenge-arrow.cfm"></button>
            </div>
            </section>
            <%= image_tag "seminar-registration-photo.jpg", {class: "registerPhoto"} %>
            <cfinclude template="/inc/share-group.cfm">
            <cfinclude template="/inc/seminar-noble-address.cfm">
          </div>
        </div><!-- end of .seminarRegisterCol -->
      </form>
    </div>
</div>

<%= link_to 'New Seminar time', new_seminar_time_path %>
<% 
=begin
 %>


<h1>Listing seminar_times</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>ID</th>
    <th>Seminar Name</th>
    <th></th>
    <th></th>
  </tr>

<% @seminar_times_days.each do |start_date, seminar_times| %>
<h3><%= start_date %></h3>
<p><b><%= seminar_times.inspect %></b></p>

  <% for seminar_time in seminar_times %>
    <tr>
      <td><h2><%= start_date %></h2><%= seminar_time.start_date %></td>
      <td><%= seminar_time.end_date %></td>
      <td><%= seminar_time.seminar_id %></td>
      <td><strong><%= seminar_time.seminar.name %></strong></td>
      <td><%= link_to 'Show', seminar_time %></td>
      <td><%= link_to 'Edit', edit_seminar_time_path(seminar_time) %></td>
      <td><%= link_to 'Destroy', seminar_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<% end %>
</table>



<% @seminars.each do |start_date, seminar_times| %>
  <% for seminar_time in seminar_times %>
    <tr>
      <td><h2><%= start_date %></h2><%= seminar_time.start_date %></td>
      <td><%= seminar_time.end_date %></td>
      <td><%= seminar_time.seminar_id %></td>
      <td><strong><%= seminar_time.seminar.name %></strong></td>
      <td><%= link_to 'Show', seminar_time %></td>
      <td><%= link_to 'Edit', edit_seminar_time_path(seminar_time) %></td>
      <td><%= link_to 'Destroy', seminar_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Seminar time', new_seminar_time_path %>




 <%
=end %>

