<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @seminar_time.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @seminar_time.end_date %>
</p>

<p>
  <b>Seminar:</b>
  <%= @seminar_time.seminar_id %>
</p>


<%= link_to 'Edit', edit_seminar_time_path(@seminar_time) %> |
<%= link_to 'Back', seminar_times_path %>
