<h1>Listing seminar_registrations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Seminar time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seminar_registrations.each do |seminar_registration| %>
  <tr>
    <td><%= seminar_registration.user_id %></td>
    <td><%= seminar_registration.seminar_time_id %></td>
    <td><%= link_to 'Show', seminar_registration %></td>
    <td><%= link_to 'Edit', edit_seminar_registration_path(seminar_registration) %></td>
    <td><%= link_to 'Destroy', seminar_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seminar registration', new_seminar_registration_path %>
