<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @seminar_registration.user_id %>
</p>

<p>
  <b>Seminar time:</b>
  <%= @seminar_registration.seminar_time_id %>
</p>


<%= link_to 'Edit', edit_seminar_registration_path(@seminar_registration) %> |
<%= link_to 'Back', seminar_registrations_path %>
