<% 
=begin %> 
<% @seminars.each do |seminar| %>
  <tr>
    <td><%= seminar.name %></td>
    <td><%= link_to 'Show', seminar %></td>
    <td><%= link_to 'Edit', edit_seminar_path(seminar) %></td>
    <td><%= link_to 'Destroy', seminar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% 
=end %>


<%# link_to 'New Seminar', new_seminar_path %>




<div id="mainContent" class="grid clearfix">
    <header class="pgTitle alignLeft">
    <div class="wrapper">
          <hgroup>
            <h1><%= image_tag "ribbons/fl-left.png", {class: "ribbonLeft"} %>Free Seminars <%= image_tag "ribbons/fl-right.png", {class: "ribbonRight"} %></h1>
          </hgroup>
    </div>
    </header>
    <div class="wrapper clearfix">
      <form method="post" action="/index.cfm" id="seminarRegistration" class="clearfix">
        <input type="hidden" name="fuseaction" value="checkSeminarInfo">
        <input type="hidden" name="subject" value="Seminar Sign Up">
        <input type="hidden" name="emailOptIn" value="yes">
        <input type="hidden" name="redirect" value="http://www.nobledesktop.com/">
        <input type="hidden" name="RegistrationType" value="Seminar">
        <input name="entrypage" type="hidden" value="">
        <input name="entrydate" type="hidden" value="">
        <input name="numberofvisits" type="hidden" value="">
        <input name="referrerpage" type="hidden" value="">
        <a id="upcoming-seminars"></a>
        <h2 class="seminarListHead listHead">Register for Upcoming Seminars <a href="#seminar-archive" id="seminarArchiveLink">Click Here for Previously Recorded Seminars</a></h2>
        <section id="options" class="clearfix">
          <ul class="filters option-set clearfix" data-option-key="filter">
            <li><a href="javascript:;" data-option-value="*" class="selected">All</a></li>
            <li><a href="javascript:;" data-option-value=".nyc">NYC</a></li>
            <li><a href="javascript:;" data-option-value=".online">Online</a></li>
          </ul>
        </section>
        <article class="seminarListCol clearfix">
         <section class="seminarList clearfix">
          <!-- list seminars -->
          <!-- loop through output -->
          <% @seminars.each do |seminar| %>
            <div class="seminar nyc">
              <div class="row" id="seminarRow_#idx#">
                <div class="title"><a href="/seminars/#seminarsArr[idx].PageLink#"><%= seminar.name %></a></div>
                <div class="location"><span class="nyc ir">#seminarLocationText#</span></div>
                <div class="date">#DateFormat(seminarsArr[idx].SeminarDate,"mmm d")# <span class="day">#DateFormat(seminarsArr[idx].SeminarDate,"ddd")#</span></div>
                <div class="time">
                <cfloop from="1" to="#ArrayLen(seminarsArr[idx].SeminarTimes)#" index="idxTimes">
                  <label for="seminar#seminarsArr[idx].SeminarTimes[idxTimes].UniqueId#">
                    <cfif not seminarsArr[idx].SeminarTimes[idxTimes].isFull or IsUserInRole("admin")>
                      <input type="checkbox" name="seminar" id="seminar#seminarsArr[idx].SeminarTimes[idxTimes].UniqueId#" value="#seminarsArr[idx].SeminarTimes[idxTimes].UniqueId#">
                    <cfelse>
                      <span class="seminarFull">Full</span>
                    </cfif>
                    #TimeFormat(seminarsArr[idx].SeminarTimes[idxTimes].SeminarDate, "h")#–#TimeFormat(seminarsArr[idx].SeminarTimes[idxTimes].SeminarEndDate, "h")# <span class="amPM">#TimeFormat(seminarsArr[idx].SeminarTimes[idxTimes].SeminarEndDate, "tt")#</span>
                  </label>
                </cfloop>
                </div>
              </div>
             </div>
             <% end %>
          </section><!-- end of .seminarList -->
        </article><!-- end of article.seminarListCol -->
        <div class="seminarRegisterCol">
          <div class="scroller">
            <section class="framedBoxWrapper">
            <div class="registerInfo framedBox">
              <input type="hidden" name="seminarRequired" id="seminarRequired" value="">
              <input type="text" name="firstName" id="firstName" value="First Name">
              <input type="text" name="lastName" id="lastName" value="Last Name">
              <input type="text" name="email" id="email" value="Email">
              <button type="submit" class="lozenge">Register Me!<cfinclude template="/inc/lozenge-arrow.cfm"></button>
            </div>
            </section>
            <img src="/image/seminar-registration-photo.jpg" width="245" height="182" class="registerPhoto">
            <cfinclude template="/inc/share-group.cfm">
            <cfinclude template="/inc/seminar-noble-address.cfm">
          </div>
        </div><!-- end of .seminarRegisterCol -->
      </form>
    </div>
</div>
